<h2>Produtos</h2>

<div *ngFor = "let product of products"><!--Está divi recebe a propriedade Angular ngFor, dessa forma a cada novo elemento adicionado ou retirado desta div, ele ira criar uma nova ou retirar uma div-->

<h3> {{product.name}} </h3> <!-- Esta interpolação, transforme os valores (product e name) e os traz para a view.-->

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->