<h2>Produtos</h2>

<div *ngFor = "let product of products"><!--Está divi recebe a propriedade Angular ngFor, dessa forma a cada novo elemento adicionado ou retirado desta div, ele ira criar uma nova ou retirar uma div. Está criando uma nova variável chamada product e associando a product que esta no arquivo (product.ts) em typescript-->

<h3> 
  
  <a [title] = "product.nome + ' detalhes' "> <!-- aqui, ele esta pegando a variavel criada acima (product) e a variável (nome) que está em products.ts. Acho que o [title] é um vetor do tipo título-->
  
  {{product.nome}}  <!-- Esta interpolação, transforme os valores (product e name) e os traz para a view.Esta variável (nome) está no arquivo product.ts-->

  </a>
</h3>

<p *ngIf="product.descricao">

  Descrição: {{product.descricao}}

</p>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->