<h2>Produtos</h2>

<div *ngFor = "let product of products; index as productId"><!--Está div recebe a propriedade Angular ngFor, dessa forma a cada novo elemento adicionado ou retirado desta div, ele ira criar uma nova ou retirar uma div. Está criando uma nova variável chamada product e associando a product a classe products em typescript-->




<h3> 
  
  <a [title] = "product.nome + ' detalhes' " [routerLink]="['/products',productId]"> <!-- aqui, ele esta pegando a variavel criada acima (product) e a variável (nome) que está em products.ts. Acho que o [title] é um vetor do tipo título. Foi adicionado o routerLink para que quando clicarmos no nome do celular, ele abrirá uma nova página. Tecnicamente falando, o routerLink esta pegando os produtos pela identificação dos mesmos-->
  
  {{product.nome}}  <!-- Esta interpolação, transforme os valores (product e nome) e os traz para a view.Esta variável (nome) está no arquivo product.ts-->

  </a>
</h3>

<p *ngIf="product.descricao"> <!--Esta linha, recebe a propriedade ngIf, oq significa que se a variável (descricao) que está em products.ts estiver preenchido, será criado um parágrafo para exibir as informações presentes na tela. Caso não tenha nenhum dado, não será exibido nada.-->

  Descrição: {{product.descricao}}

</p>

<button (click)="compartilhar()"><!--Botão criado para acionar o método compartilhar() presente no componente (product-list.component.ts)-->
  Compartilhar
</button>

<app-product-alerts [product]="product" (notify) = "onNotify()"> <!--Esta linha, está chamando o componente (app-product-alerts) juntamente com o metodo onNotify() que veio do componente product-list.component.ts-->

</app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->